﻿@model GoogleDocPoc.Models.FileDetails
@{
    ViewBag.Title = "File";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>File Details</h2>
<link href="https://code.jquery.com/ui/1.12.0-rc.2/themes/smoothness/jquery-ui.css" rel="stylesheet" />

@*<a href="javascript:void(0)" class="btnAddFile" style="margin-left:10%;">Add File</a>*@
<button type="button" style="margin-left: 10%;" id="btnAdd" class=" btnAddFile btn btn-default">Add File</button>
<div id="divError" class="col-sm-offset-4 text-danger">
    @Html.ValidationMessage("Error")
    @if (TempData["FileOperationStatus"] != null)
    {
        @TempData["FileOperationStatus"].ToString();
    }
</div>
<div id="divFileDetails">
<table style="width:80%;margin-left:10%;margin-top:10px;" class="table table-bordered">
    <thead>
        <tr>
            <th>FileId</th>
            <th>ClientName</th>
            <th>FolderName</th>
            <th>FileName</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in @Model.FileDetail)
        {
            <tr>
                <th scope="row">@item.FileId</th>
                <td>@item.ClientName</td>
                <td>@item.FolderName</td>
                <td>@item.FileName</td>
                <td>
                    <a data-value="@item.FileId"
                       href="javascript:void(0)" class="btnEdit">Edit</a>
                    <span>|</span>
                    @Html.ActionLink("Delete", "DeleteFile", "File", new { id = item.FileId, ClientName = item.ClientName, FolderName = item.FolderName, FileName = item.FileName }, new { onclick = "return confirm('Do you really want to delete the File : " + item.FileName + "?')" })
                    @*<a  href='@Url.Action("DeleteFile", "File", new { id = item.FileId ,ClientName = item.ClientName,FolderName = item.FolderName,FileName= item.FileName })' class="btnDelete">Delete</a>*@
                </td>
            </tr>  
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="5">
                <ul class="pagination pull-right">
                    @for (int pagenum = 1; pagenum <= @Model.PagerCount; pagenum++)
                    {
                        <li class="paginate_button"><a href="@Url.Action("index", "File", new { pageNumber = @pagenum })" aria-controls="example" data-dt-idx="2" tabindex="0">@pagenum</a></li>
                    }
                </ul>
            </td>
        </tr>
    </tfoot>
</table>
</div>
<div class="clearfix"></div>

<div id="dialog1" title="Add view" style="overflow: hidden;"></div>
<div id="dialog" title="edit view" style="overflow: hidden;"></div>

@section Scripts{
    <script src="https://code.jquery.com/ui/1.12.0-rc.2/jquery-ui.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script type="text/javascript">
        $(function () {
            var id = 0;

            $(document).on('click', '.btnEdit', function () {
                id = $(this).attr("data-value");
                $('#dialog').dialog('open');
            });

            $(document).on('click', '.btnAddFile', function () {
                $('#dialog1').dialog('open');
            });

            $('#dialog').dialog({
                autoOpen: false,
                width: 400,
                resizable: false,
                title: 'Edit File details',
                modal: true,
                position: { my: "center", at: "top", of: "#divFileDetails" },
                open: function (event, ui) {
                    // Load partial view _GridEditPartial
                    $(this).load("@Url.Action("GetFileDetailsById")", { id: id });
                },
                buttons: {
                    "Close": function () {
                        $(this).dialog("close");
                    }
                }
            });

            $('#dialog1').dialog({
                autoOpen: false,
                width: 400,
                resizable: false,
                title: 'Add File',
                modal: true,
                position: { my: "center", at: "top", of: "#divFileDetails" },
                open: function (event, ui) {
                    // Load partial view _GridEditPartial
                    $(this).load("@Url.Action("AddFilePopup")");
                },
                buttons: {
                    "Close": function () {
                        $(this).dialog("close");
                    }
                }
            });
        });
        $("#hplFile").addClass("selected");
    </script>
    <script>
        window.setTimeout(function () {
            $("#divError").fadeTo(500, 0).slideUp(500, function () {
                $(this).remove();
            });
        }, 5000);
    </script>
   
}