﻿@model GoogleDocPoc.Models.Forgotpassword
@{
    ViewBag.Title = "Forgot Password";
    Layout = "";
}

<h2>Forgot your password ?</h2>
<h4>Enter your email.</h4>
@using (Html.BeginForm())
{
    <head>
        <link href="~/Content/bootstrap.css" rel="stylesheet" />
        <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    </head>
    @Html.AntiForgeryToken()
    <fieldset>
        <legend></legend>
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <div class="panel panel-login">
                        <div id="divError" class="col-sm-offset-3 text-danger">
                            @Html.ValidationMessage("Error")
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <div class="col-sm-9 col-sm-offset-1">
                                            @Html.TextBoxFor(a => a.Email, new { @class = "form-control", placeholder = "Enter your email" })
                                        </div>
                                    </div>
                                    <br /><br /><br />
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-sm-5 col-sm-offset-3">
                                                <input type="submit" name="Recover Password" id="RecoverPassword" tabindex="4" class="form-control btn-primary btn btn-login" value="Recover Password">
                                            </div>
                                        </div>
                                    </div><br />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</fieldset>
}
<script>
    $(document).ready(function () {
        function isValidEmailAddress(emailAddress) {
            var pattern = /^\b[A-Z0-9._%-]+@@[A-Z0-9.-]+\.[A-Z]{2,4}\b$/i;
            return pattern.test(emailAddress);
        };
        $('#RecoverPassword').on('click', function () {
            var message = "";
            var emailaddress = $("#Email").val();
            if (emailaddress == "") {
                message += " Please Enter your email " + ",";
            }
            if (!isValidEmailAddress(emailaddress))
            {
                message += " Please Enter a valie email " + ",";
            }

            if (message != ""){
                message = "Error :" + message.substring(0, message.lastIndexOf(','));
                $('#divError').html(message);
                return false;
            }
            else{
                return true;
            }
        });

        window.setTimeout(function () {
            $("#divError").fadeTo(500, 0).slideUp(500, function () {
                $(this).remove();
            });
        }, 10000);
    });
  

</script>