﻿@model GoogleDocPoc.Models.User
@{
    ViewBag.Title = "Login";
    Layout = "";
}

@using (Html.BeginForm("Login", "Login", FormMethod.Post))
{
       <head>
           <script src="~/Scripts/jquery-1.10.2.min.js"></script>
           <link href="~/Content/bootstrap.css" rel="stylesheet" />
           <link href="~/Content/Style.css" rel="stylesheet" />
       </head>
    <style type="text/css">
        body {
            background: url(../img/tehran.jpg) no-repeat center center fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }
    </style>
     <fieldset>
        <legend></legend>

        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        @if (@ViewBag.Message != null)
        {
            <div style="border: 1px solid red">
                @ViewBag.Message
            </div>
        }
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <div class="panel panel-login loginDiv">
                            <div class="col-xs-6 logoDiv">
                                <img src="~/img/SurveyStudy.png" />
                            </div>
                        <div id="divError" style="display:none;" class="col-sm-offset-3 text-danger">
                            @Html.ValidationMessage("Error")
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-10 loginCredentialDiv">
                                        <div class="form-group">
                                            <div class="col-sm-10 col-sm-offset-2">
                                                @Html.TextBoxFor(a => a.Username, new { @class = "form-control", placeholder = "Enter Username" })
                                                @Html.ValidationMessageFor(a => a.Username)
                                            </div>
                                        </div><br><br>
                                        <div class="form-group">
                                            <div class="col-sm-10 col-sm-offset-2">
                                                @Html.PasswordFor(a => a.Password, new { @class = "form-control", placeholder = "Enter Password" })
                                                @Html.ValidationMessageFor(a => a.Password)
                                            </div>
                                        </div><br /><br />
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-sm-5 col-sm-offset-4">
                                                    <input type="submit" name="login-submit" id="login-submit" tabindex="4" class="form-control btn-primary btn btn-login" value="Log In">
                                                </div>
                                            </div>
                                        </div><br />
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-lg-11 col-sm-offset-1">
                                                    <div class="text-center">
                                                        <a href="~/Login/ForgotPassword" tabindex="5" class="forgot-password">Forgot Password?</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </fieldset>
}
<script>
    $('#login-submit').on('click', function () {
        var message = "";
        if ($("#Username").val() == "") {
            message += "Username" + ",";
        }
        if ($("#Password").val() == "") {
            message += " Pasword" + ",";
        }
        if (message != "") {
            message = "Error :" + message.substring(0, message.lastIndexOf(',')) + " can't be empty";
            $('#divError').css('display', 'inline');
            $('#divError').html(message);
            return false;
        }
        else {
            return true;
        }
    });
    window.setTimeout(function () {
        $("#divError").fadeTo(500, 0).slideUp(500, function () {
            $(this).remove();
        });
    }, 10000);
</script>
