﻿body {
}
.loginDiv{
    width:550px;
    height:400px;
    margin-top:80px;
    margin-left:50px;
}
.logoDiv
{
   margin-left:160px;
   margin-top:-25px;
}
.loginCredentialDiv
{
 margin-left:13px; 
 margin-top:-13px;
}