﻿@model GoogleDocPoc.ViewModel.ClientViewModel
@{
    ViewBag.Title = "ClientDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2 style="margin-top:35px;">ClientDetails</h2>
@using (Html.BeginForm(FormMethod.Post))
{
    @Html.Hidden("hdnClientName")

    <button type="button" style="margin-left: 15%;" id="btnOpen" class="btn btn-default" onclick="OpenPopup();">Add Client</button>
    <table id="tblClients" class="table table-bordered" style="width:70%;margin-left:15%;margin-top:10px;">
        <thead>
            <tr>
                <th style="width:100px">Client Id</th>
                <th style="width:200px">Client Name</th>
                <th style="width:150px">Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var client in @Model.Clients)
            {
                <tr>
                    <td class="Id">
                        <span>@client.Id</span>
                    </td>
                    <td class="Name">
                        <span>@client.Name</span>
                    </td>
                    <td>
                        <a class="Edit" href="javascript:;">Edit</a>
                        <span>|</span>
                        <a class="Delete" href="javascript:;">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td colspan="5">
                    <ul class="pagination pull-right">
                        @for (int pagenum = 1; pagenum <= @Model.PagerCount; pagenum++)
                        {
                            <li class="paginate_button"><a href="@Url.Action("ClientDetails", "Client", new { pageNumber = @pagenum })" aria-controls="example" data-dt-idx="2" tabindex="0">@pagenum</a></li>
                        }
                    </ul>
                </td>
            </tr>
        </tfoot>
    </table>

    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Add Client</h4>
                </div>
                <div class="modal-body">
                    <table>
                        <tr id="trClientId" style="display:none;">
                            <td>
                                Client Id :
                            </td>
                            <td>
                                <input type="text" id="txtClientId" readonly="readonly" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Client Name :
                            </td>
                            <td>
                                <input type="text" id="txtClientName" class="form-control" />
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" id="btnAdd" class="btn btn-default" onclick="AddClient();">Add</button>
                    <button type="button" id="btnUpdate" style="display:none;" class="btn btn-default" onclick="UpdateClient();">Update</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

}

@section Scripts{
<script type="text/javascript">

    //Webmethod to add Client
    function AddClient()
    {
        var clientName = $("#txtClientName");
        if (clientName.val() == "")
        {
            alert("Please enter Client Name.");
            return false;
        }
        $.ajax
        ({
            type: "POST",
            url: "/Client/AddClient",
            data: '{Name: "' + clientName.val().toUpperCase() + '"}',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (r)
            {
                if (r.Id == 1)
                {
                    alert("Record Inserted Successfully.");
                    $("#myModal").modal('hide');
                    window.location.href = '/Client/ClientDetails';
                    clientName.val("");
                }
                else if (r.Id == 2)
                {
                    alert("Duplicate Record is there with this ClientName " + clientName.val().toUpperCase() + ". ");
                }
                else
                {
                    alert("Record Not Inserted Successfully.");
                }
            }
        });
    }

    //Webmethod to Update Client
    function UpdateClient()
    {
        var clientId = $("#txtClientId");
        var clientName = $("#txtClientName");
        if (clientName.val() == "") {
            alert("Please enter Client Name.");
            return false;
        }

        if ($("#hdnClientName").val() == $("#txtClientName").val().toUpperCase())
        {
            alert("Record Updated Successfully.");
            $("#myModal").modal('hide');
            clientId.val("");
            clientName.val("");
            return false;
        }
        else
        {
            $.ajax
            ({
                type: "POST",
                url: "/Client/UpdateClient",
                data: '{Id: "' + clientId.val() + '",Name: "' + clientName.val().toUpperCase() + '",HdnName: "' + $("#hdnClientName").val().toUpperCase() + '"}',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (r)
                {
                    if (r.Id == 1)
                    {
                        alert("Recoed Updated Successfully.");
                        $("#myModal").modal('hide');
                        clientId.val("");
                        clientName.val("");
                        window.location.href = '/Client/ClientDetails';
                    }
                    else if (r.Id == 2)
                    {
                        alert("Duplicate Record is there with this ClientName " + clientName.val().toUpperCase() + ". ");
                    }
                    else
                    {
                        alert("Record Not Updated Successfully.");
                    }
                }
            });
        }
    }

    
    //method to open popup to Add client details
    function OpenPopup() {
        var titleChange = $(".modal-title");
        titleChange[0].innerText = "Add Client";
        $("#txtClientName").val("");
        $("#btnAdd").css("display", "");
        $("#btnUpdate").css("display", "None");
        $("#myModal").modal('show');
    }

    //method to open popup to edit client details
    $("body").on("click", "#tblClients .Edit", function ()
    {
        var titleChange = $(".modal-title");
        titleChange[0].innerText = "Update Client";
        $("#btnAdd").css("display", "None");
        $("#btnUpdate").css("display", "");
        var row = $(this).closest("tr");
        var clientId = row[0].cells[0].innerText;
        var clientName = row[0].cells[1].innerText;
        $("#hdnClientName").val(clientName);
        $("#txtClientId").val(clientId);
        $("#txtClientName").val(clientName);
        $("#myModal").modal('show');
    });

    //Delete event handler.
    $("body").on("click", "#tblClients .Delete", function ()
    {
        if (confirm("Do you want to delete this row?"))
        {
            var row = $(this).closest("tr");
            var clientId = row.find("span")[0].innerText;
            var clientName = row.find("span")[1].innerText;
            $.ajax
            ({
                type: "POST",
                url: "/Client/DeleteClient",
                data: '{Id: "' + clientId + '",Name: "' + clientName + '"}',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response)
                {
                    if (response.Id == 1)
                    {
                        row.remove();
                        alert("Record Deleted Successfully.");
                    }
                    else
                    {
                        alert("Record Not Deleted Successfully.");
                    }
                    
                }
            });
        }
    });
    $("#hplClient").addClass("selected");
</script>
}


