﻿@model GoogleDocPoc.ViewModel.UserDetailsViewModel

@using (Html.BeginForm("AddUser", "Registration", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal" }))
{
    @Html.Hidden("SelectedFolderIds");
    <div id="divUserError" class="col-sm-offset-0 text-danger">
        @Html.ValidationMessage("Error")
    </div>
    <div class="form-group">
        <label for="UserName" class="control-label col-sm-4">UserName</label>
        <div class="col-sm-8">
            @Html.TextBoxFor(a => a.Username, new { @class = "form-control" })
            @Html.ValidationMessageFor(a => a.Username)
        </div>
    </div>
    <div class="form-group">
        <label for="Password" class="control-label col-sm-4">Password</label>
        <div class="col-sm-8">
            @Html.PasswordFor(a => a.Password, new { @class = "form-control" })
            @Html.ValidationMessageFor(a => a.Password)
        </div>
    </div>
    <div class="form-group">
        <label for="ConfirmPassword" class="control-label col-sm-4">Conf Pass</label>
        <div class="col-sm-8">
            @Html.PasswordFor(a => a.ConfirmPassword, new { @class = "form-control" })
            @Html.ValidationMessageFor(a => a.ConfirmPassword)
        </div>
    </div>
    <div class="form-group">
        <label for="Email" class="control-label col-sm-4">Email</label>
        <div class="col-sm-8">
            @Html.TextBoxFor(a => a.Email, new { @class = "form-control" })
            @Html.ValidationMessageFor(a => a.Email)
        </div>
    </div>
    <div class="form-group">
        <label for="Role" class="control-label col-sm-4">Role</label>
        <div class="col-sm-8">
            @Html.DropDownList("RoleDetails", (IEnumerable<SelectListItem>)ViewBag.RoleDetails, "Select Role", new {@class = "dropdown1 form-control col-sm-8" })
        </div>
    </div>
    <div class="form-group">
        <label for="Client" class="control-label col-sm-4">Client</label>
        <div class="col-sm-8">
            @Html.DropDownList("ClientDetails", (IEnumerable<SelectListItem>)ViewBag.ClientDetails, "Select Client", new {@class = "dropdown1 form-control col-sm-8" })
        </div>
    </div>

    <div class="form-group">
        <label for="Folders" class="control-label col-sm-4">Folders</label>
        <div class="col-sm-8">
            <p id="pFolderDetails">
                <select id="FolderDetails" class="ui-multiselect ui-widget ui-state-default ui-corner-all dvp_gr_ddl form-control col-sm-8" multiple="multiple" name="Folders">
                </select>
            </p>
        </div>
    </div>
    <button type="submit" id="btnAddUser" class="btn btn-primary">Add</button>
}
<script type="text/javascript">
    $(document).ready(function () {
        BindDdl();
        $('#btnAddUser').on('click', function () {
            var message = "";
            var FolderIds = "";
            if ($("#Username").val() == "") {
                message += "Username " + ",";
            }
            if ($("#Password").val() == "") {
                message += " Pasword" + ",";
            }
            if ($("#ConfirmPassword").val() == "") {
                message += " ConfirmPassword" + ",";
            }
            if ($("#Password").val() != $("#ConfirmPassword").val()) {
                message += " Pasword and Confirm Password not same" + ",";
            }
            if ($("#Email").val() == "") {
                message += " Email" + ",";
            }
            if ($("#RoleDetails option:selected").text().trim() == "Select Role") {
                message += "Role" + ",";
            }
            if ($("#ClientDetails option:selected").text().trim() == "Select Client"){
                message += "Client" + ",";
            }
            if (message != ""){
                message = "Error :" + message.substring(0, message.lastIndexOf(','));
                $('#divUserError').html(message);
                return false;
            }
            else{
                $("#SelectedRoleName").val($("#RoleDetails option:selected").text().trim());
                $("#SelectedClientName").val($("#ClientDetails option:selected").text().trim());
                $('#FolderDetails :selected').each(function (i, sel) {
                    FolderIds += $(sel).val() + ',';
                });
                $("#SelectedFolderIds").val(FolderIds.substring(0,FolderIds.length-1));
                return true;
            }
        });

        $("#Username").blur(function () {
            var UserName = $("#Username").val();
            $('#divUserError').html("");
            $.ajax({
                type: 'POST',
                url: '@Url.Action("CheckUserNameForDuplication")',
                dataType: 'json',
                data: { UserName: '' + UserName + '' },
                success: function (status) {
                    if(status==true){
                        $('#divUserError').html("UserName Already exists");
                        return false;
                    }
                } 
            });
            return false;
            });
            
        $("#Email").blur(function () {
            var Email = $("#Email").val();
            $('#divUserError').html("");
            $.ajax({
                type: 'POST',
                url: '@Url.Action("CheckEmailForDuplication")',
                dataType: 'json',
                data: { Email: '' + Email + '' },
                success: function (status) {
                    if (status == true) {
                        $('#divUserError').html("Email Already exists");
                        return false;
                    }
                }
            });
            return false;
        });

        $("#ClientDetails").change(function () {
            BindDdl();
        })

        function BindDdl() {
            $("#FolderDetails").empty();
            var _id= $("#ClientDetails").val();
            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetFolderDetails")',
                dataType: 'json',
                data: { id:  ''+ _id +''},
                success: function (folderDetail) {
                    var markup = "<select id='FolderDetails' class='ui-multiselect ui-widget ui-state-default ui-corner-all dvp_gr_ddl' multiple='multiple' name='FolderDetails'>";
                    $.each(folderDetail, function (i, data) {
                        markup += "<option value='" + data.Value + "'>" + data.Text + "</option>";
                    });
                    markup += "</select>";
                    $("#pFolderDetails").html(markup).show();
                    $("#FolderDetails").multiselect().multiselectfilter();
                },
                error: function (ex) {
                    alert('Failed to retrieve Folders' + ex);
                }
            });
            return false;
        }
    });
</script>


