﻿@model GoogleDocPoc.ViewModel.UserDetailsViewModel

@using (Html.BeginForm("UpdateUser", "Registration", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal" }))
{
    @Html.Hidden("MySelectedFolderIds");

    @Html.HiddenFor(a => a.UserId);
    <div id="divUserError" class="col-sm-offset-0 text-danger">
        @Html.ValidationMessage("Error")
    </div>
    <div class="form-group">
        <label for="UserName" class="control-label col-sm-4">UserName</label>
        <div class="col-sm-8">
            @Html.TextBoxFor(a => a.Username, new { @class = "form-control" })
            @Html.ValidationMessageFor(a => a.Username)
        </div>
    </div>
    <div class="form-group">
        <label for="Password" class="control-label col-sm-4">Password</label>
        <div class="col-sm-8">
           @*@Html.PasswordFor(x => x.Password, new { value = Model.Password})*@
            @Html.PasswordFor(a => a.Password, new { value = Model.Password, @class = "form-control" })
            @Html.ValidationMessageFor(a => a.Password)
        </div>
    </div>
    <div class="form-group">
        <label for="ConfirmPassword" class="control-label col-sm-4">Conf Pass</label>
        <div class="col-sm-8">
            @Html.PasswordFor(a => a.ConfirmPassword, new { value = Model.ConfirmPassword, @class = "form-control" })
            @Html.ValidationMessageFor(a => a.ConfirmPassword)
        </div>
    </div>
    <div class="form-group">
        <label for="Email" class="control-label col-sm-4">Email</label>
        <div class="col-sm-8">
            @Html.TextBoxFor(a => a.Email, new { @class = "form-control" })
            @Html.ValidationMessageFor(a => a.Email)
        </div>
    </div>
    <div class="form-group">
        <label for="Role" class="control-label col-sm-4">Role</label>
        <div class="col-sm-8">
            @Html.DropDownList("MyRoleDetails", (IEnumerable<SelectListItem>)ViewBag.RoleDetails, "Select Role", new { @class = "dropdown1 form-control col-sm-8" })
        </div>
    </div>
    <div class="form-group">
        <label for="Client" class="control-label col-sm-4">Client</label>
        <div class="col-sm-8">
            @Html.DropDownList("MyClientDetails", (IEnumerable<SelectListItem>)ViewBag.ClientDetails, "Select Client", new { @class = "dropdown1 form-control col-sm-8" })
        </div>
    </div>

    <div class="form-group">
        <label for="Folders" class="control-label col-sm-4">Folders</label>
        <div class="col-sm-8">
            <p id="pMyFolderDetails">
                <select id="MyFolderDetails" class="ui-multiselect ui-widget ui-state-default ui-corner-all dvp_gr_ddl form-control col-sm-8" multiple="multiple" name="MyFolders"></select>
            </p>
        </div>
    </div>
    <button type="submit" id="btnUpdateUser" class="btn btn-primary">Update</button>
}
<script type="text/javascript">
    $(document).ready(function () {

        BindDdl();
        $('#btnUpdateUser').on('click', function () {
            var message = "";
            var FolderIds = "";
            if ($("#Username").val() == "") {
                message += "Username " + ",";
            }
            if ($("#Password").val() == "") {
                message += " Pasword" + ",";
            }
            if ($("#ConfirmPassword").val() == "") {
                message += " ConfirmPassword" + ",";
            }
            if ($("#Password").val() != $("#ConfirmPassword").val()) {
                message += " Pasword and Confirm Password not same" + ",";
            }
            if ($("#Email").val() == "") {
                message += " Email" + ",";
            }
            if ($("#MyRoleDetails option:selected").text().trim() == "Select Role") {
                message += "Role" + ",";
            }
            if ($("#MyClientDetails option:selected").text().trim() == "Select Client")
            {
                message += "Client" + ",";
            }

            if (message != "")
            {
                message = "Error :" + message.substring(0, message.lastIndexOf(','));
                $('#divUserError').html(message);
                return false;
            }
            else
            {
                $('#MyFolderDetails :selected').each(function (i, sel) {
                    FolderIds += $(sel).val() + ',';
                });
                $("#MySelectedFolderIds").val(FolderIds.substring(0, FolderIds.length - 1));
                return true;
            }
        });

        $("#MyClientDetails").change(function () {
            BindDdl();
        })
        function BindDdl() {
            $("#MyFolderDetails").empty();
            var _id= $("#MyClientDetails").val();
            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetFolderDetails")',
                dataType: 'json',
                data: { id:  ''+ _id +''},
                success: function (folderDetail) {
                    var markup = "<select id='MyFolderDetails' class='ui-multiselect ui-widget ui-state-default ui-corner-all dvp_gr_ddl' multiple='multiple' name='MyFolderDetails'>";
                    $.each(folderDetail, function (i, data) {
                        if (data.Selected == true) {
                            markup += "<option value='" + data.Value + "' Selected >" + data.Text + "</option>";
                        }
                        else{
                            markup += "<option value='" + data.Value + "'>" + data.Text + "</option>";
                        }
                    });
                    markup += "</select>";
                    $("#pMyFolderDetails").html(markup).show();
                    $("#MyFolderDetails").multiselect().multiselectfilter();
                },
                error: function (ex) {
                    alert('Failed to retrieve Folders' + ex);
                }
            });
            return false;
        }
    });
</script>