﻿@model GoogleDocPoc.Models.FileDetails

@using (Html.BeginForm("AddUpdateFile", "File", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal" }))
{

    @Html.Hidden("SelectedClientName");
    @Html.Hidden("SelectedFolderName");
    <div id="divError12" class="col-sm-offset-0 text-danger">
        @Html.ValidationMessage("Error")
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1" class="control-label col-sm-4">ClientName</label>
        <div class="col-sm-8">
            @*@Html.DropDownList("ClientDetails", "Select Client")*@
            @Html.DropDownList("ClientDetails", (IEnumerable<SelectListItem>)ViewBag.ClientDetails, "Select Client", new { @class = "form-control col-sm-8" })
        </div>
    </div>

    <div class="form-group">
        <label for="exampleInputPassword1" class="control-label col-sm-4">FolderName</label>
        <div class="col-sm-8">
            @Html.DropDownList("FolderDetails", new SelectList(string.Empty, "Value", "Text"), "Select Folder", new { @class = "form-control col-sm-8" })
        </div>
    </div>

    <div class="form-group">
        <label for="exampleInputPassword1" class="control-label col-sm-4">File</label>
        <div class="col-sm-8">
            <input type="file" id="file" name="file"></input>
        </div>
    </div>
    <button type="submit" id="btnSubmit" class="btn btn-default">Submit</button>
}


<script type="text/javascript">
    $(document).ready(function () {

        $('#btnSubmit').on('click', function () {
            var message = "";
            //var fileSize = $('#file')[0].files[0].size / 1048576;
            if ($("#ClientDetails option:selected").text().trim() == "Select Client")
            {
                message += "ClientName" + ",";
            }
            if ($("#FolderDetails option:selected").val() < "0"){
                message += "FolderName" + ",";
            }
            if ($("#file").val() == "") {
                message += "FileName" + ",";
            }
            else if (($('#file')[0].files[0].size / 1048576) > 5) {
                message += "File size should not be greater then 5MB." + ",";
            }
            else
            {
                var filename = $("#file").val().substring(12, $("#file").val().length);
                var extension = filename.substr((filename.lastIndexOf('.') + 1)).toLowerCase();
                var valid_extensions = /(\.ppt|\.pptx|\.txt|\.pdf|\.docx|\.doc)$/i;
                if (!valid_extensions.test(filename)) {
                    message += "Invalid file type.Please select file with following extention - ppt, pptx, txt, pdf, docx, doc" + ",";
                }
            }
            if (message != "")
            {
                message = "Error :" + message.substring(0, message.lastIndexOf(','));
                $('#divError12').html(message);
                return false;
            }
            else
            {
                $("#SelectedClientName").val($("#ClientDetails option:selected").text().trim());
                $("#SelectedFolderName").val($("#FolderDetails option:selected").text().trim());
                return true;
            }
        });

        $("#ClientDetails").change(function () {
            $("#FolderDetails").empty();
            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetFolderDetails")',
                dataType: 'json',
                data: { id: $("#ClientDetails").val() },
                success: function (folderDetail) {
                    $.each(folderDetail, function (i, data) {
                        $("#FolderDetails").append('<option value="'
                        + data.Value + '">'
                        + data.Text + '</option>');
                    });
                },
                error: function (ex) {
                    alert('Failed to retrieve Folders' + ex);
                }
            });
            return false;
        })
    });
</script>

