﻿@model GoogleDocPoc.Models.FileDetails

@using (Html.BeginForm("AddUpdateFile", "File", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal" }))
{
    @Html.Hidden("SelectedClientName");
    @Html.Hidden("SelectedFolderName");
    <div id="divErrorEdit" class="col-sm-offset-0 text-danger">
        @Html.ValidationMessage("Error")
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1" class="control-label col-sm-4">FileId</label>
        <div class="col-sm-8">
            @Html.TextBoxFor(x => x.FileId, new { @class = "form-control", @readonly = true })
        </div>
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1" class="control-label col-sm-4">ClientName</label>
        <div class="col-sm-8">
            @Html.DropDownList("myClientDetails", (IEnumerable<SelectListItem>)ViewBag.ClientDetails, "Select Client",new { @class = "form-control col-sm-8" })
        </div>
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1" class="control-label col-sm-4">FolderName</label>
        <div class="col-sm-8">
            @Html.DropDownList("myFolderDetails", (IEnumerable<SelectListItem>)ViewBag.FolderDetails, "Select Folder", new { @class = "form-control col-sm-8" })
        </div>
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1" class="control-label col-sm-4">File</label>
        <div class="col-sm-8">
            <input type="file" id="file" name="file"></input>
        </div>
    </div>

    <button type="submit" id="btnSubmit" class="btn btn-default">Submit</button>
}

<script type="text/javascript">
    $(document).ready(function () {

        $('#btnSubmit').on('click', function () {

            // var fileSize = $('#file')[0].files[0].size / 1048576;
            var message = "";
            if ($("#myClientDetails option:selected").text().trim() == "Select Client") {
                message += "ClientName" + ",";
            }
            if ($("#myFolderDetails option:selected").val() < "0") {
                message += "FolderName" + ",";
            }
            if ($("#file").val() == "") {
                message += "FileName" + ",";
            }
            else if (($('#file')[0].files[0].size / 1048576) > 5) {
                message += "File size should not be greater then 5MB." + ",";
            }
            else
            {
                var filename = $("#file").val().substring(12, $("#file").val().length);
                var extension = filename.substr((filename.lastIndexOf('.') + 1)).toLowerCase();
                var valid_extensions = /(\.ppt|\.pptx|\.txt|\.pdf|\.docx|\.doc)$/i;
                if (!valid_extensions.test(filename)) {
                    message += "Invalid file type.Please select file with following extention - ppt, pptx, txt, pdf, docx, doc" + ",";
                }
            }
            if (message != "") {
                message = "Error :" + message.substring(0, message.lastIndexOf(','));
                $('#divErrorEdit').html(message);
                return false;
            }
            else {
                $("#SelectedClientName").val($("#myClientDetails option:selected").text().trim());
                $("#SelectedFolderName").val($("#myFolderDetails option:selected").text().trim());
                return true;
            }
          
        });

        $("#myClientDetails").change(function () {
            $("#myFolderDetails").empty();
            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetFolderDetails")',
                dataType: 'json',
                data: { id: $("#myClientDetails").val() },
                success: function (folderDetail) {
                    $.each(folderDetail, function (i, data) {
                        $("#myFolderDetails").append('<option value="'
                        + data.Value + '">'
                        + data.Text + '</option>');
                    });
                },
                error: function (ex) {
                    alert('Failed to retrieve Folders' + ex);
                }
            });
            return false;
        })
    });
</script>

