﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - GoogleDocsPoc</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <style>
        .selected {
            background-color: gray !important;
        }

        .dropdownmenu ul, .dropdownmenu li {
            margin: 0;
            padding: 0;
        }

        .dropdownmenu ul {
            background: gray;
            list-style: none;
            width: 100%;
        }

        .dropdownmenu li {
            float: left;
            position: relative;
            width: auto;
        }

        .dropdownmenu ul li a {
            padding: 5px;
            background: #5cb85c;
            color: #FFFFFF;
            display: block;
            font: bold 12px/20px sans-serif;
            text-align: center;
            text-decoration: none;
            -webkit-transition: all .25s ease;
            -moz-transition: all .25s ease;
            -ms-transition: all .25s ease;
            -o-transition: all .25s ease;
            transition: all .25s ease;
        }

            .dropdownmenu ul li a:hover {
                background: #333;
            }

        .selected {
            background-color: gray !important;
        }

        .userinfo {
            font-size: 15px;
            color: darkgrey;
            padding-top: 14px;
            padding-right: 15px;
            margin-top: -8px;
        }
    </style>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Survey Study", "Login", "Login", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse" style="width:100%;">
                <div id="divLogout">
                    <ul class="nav navbar-nav navbar-right">
                        @{
                            var user = Session["UserName"];
                            var role = Session["RoleName"];
                            if (user != null)
                            {
                                <li>@Html.ActionLink("Home", "Index", "FileDetails", new { area = "" }, new { @class = "navbar-brand" })</li>
                                <li class="userinfo">Welcome: @user (@role)</li>
                                <li>@Html.ActionLink("Logout", "LogOut", "Login", new { area = "" }, new { @class = "navbar-brand" })</li>
                            }
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div id="menuDiv" style="margin-top:-20px;">
        <div id="divMenuList">
            @{
                if (Session["RoleName"].ToString() == "SuperUser")
                {
                    <nav class="dropdownmenu">
                        <ul>
                            <li>@Html.ActionLink("Client", "ClientDetails", "Client", new { area = "" }, new { @id = "hplClient" })</li>
                            <li>@Html.ActionLink("Registration", "UserDetails", "Registration", new { area = "" }, new { @id = "hplRegistration" })</li>
                            <li>@Html.ActionLink("Folders", "FolderDetails", "Folder", new { area = "" }, new { @id = "hplFolder" })</li>
                            <li>@Html.ActionLink("Files", "Index", "File", new { area = "" }, new { @id = "hplFile" })</li>
                        </ul>
                    </nav>
                }
                if (Session["RoleName"].ToString() == "Administrator")
                {
                    <nav class="dropdownmenu">
                        <ul>
                            <li>@Html.ActionLink("Registration", "UserDetails", "Registration", new { area = "" }, new { @id = "hplRegistration" })</li>
                        </ul>
                    </nav>
                }
            }
        </div>
        <div style="text-align: center;font-weight: bold;padding-top:10px;" class="lblDiv">
            <span id="lblFileName"></span>
        </div>
        <div style="" class="">
            @RenderBody()
            <div class="navbar navbar-inverse navbar-fixed-bottom">
                <div class="container">
                    <footer>
                        <p style="padding-top:6px;color:gray">&copy; @DateTime.Now.Year - GoogleDocsPoc KANTAR Company</p>
                    </footer>
                </div>
            </div>
        </div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/jquery-ui")
        <link href="http://cdn.rawgit.com/davidstutz/bootstrap-multiselect/master/dist/css/bootstrap-multiselect.css" rel="stylesheet" type="text/css" />
        <script src="http://cdn.rawgit.com/davidstutz/bootstrap-multiselect/master/dist/js/bootstrap-multiselect.js"></script>
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
    </div>
</body>
</html>
