﻿@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width = device-width" />
</head>
<body>
    <div id="divCustomError" class="text-danger">
        <h2>
            Sorry, an error occurred while processing your request.
        </h2>
    </div>

</body>
</html> 
