﻿@model  GoogleDocPoc.Models.FilePathDetails
@{
    ViewBag.Title = "Index";
}

<div style="width:100%;height:100%;overflow:hidden;" id="contentDiv">
    <div id="divFile" style="float:left; width:35%;border:groove;overflow:auto;padding:5px;">
        <div style="display:inline;"><span id="lblFile">Search</span></div><div id="buttonParent" style="display:inline;float:right;margin-top:-8px;margin-left:-5px;"><input type="image" style="outline:none;height:19px !important;" src="~/img/Autohide.png" id="btnShow" /></div>

        <table id="PnlTable">
            <tr>
                <td style="font-weight:bold;">
                    Company
                </td>
                <td style="font-weight:bold;">
                    :
                </td>
                <td>
                    @Html.DropDownList("ddlClients", new SelectList(Model.Clients, "Id", "Name"), new { @class = "form-control", @onchange = "FillFolders(this.value)" })
                </td>
            </tr>
            <tr>
                <td style="font-weight:bold;">
                    Folder
                </td>
                <td style="font-weight:bold;">
                    :
                </td>
                <td>
                    @Html.DropDownList("ddlFolders", new List<SelectListItem> { new SelectListItem { Text = "Please select", Value = "0" } }, new { @class = "form-control" })
                </td>
                <td style="font-weight:bold;">
                    File
                </td>
                <td style="font-weight:bold;">
                    :
                </td>
                <td>
                    @Html.TextBox("txtFilename", null, new { @class = "form-control", @onkeyup = "ClientSearch()" })
                </td>
            </tr>
            <tr>
                <td style="font-weight:bold;">
                    From
                </td>
                <td style="font-weight:bold;">
                    :
                </td>
                <td>
                    @Html.TextBox("txtFromDate", Model.FromDate.ToString(), new { @class = "form-control" })
                </td>
                <td style="font-weight:bold;">
                    To
                </td>
                <td style="font-weight:bold;">
                    :
                </td>
                <td>
                    @Html.TextBox("txtToDate", Model.ToDate.ToString(), new { @class = "form-control" })
                </td>
            </tr>
            <tr>
                <td colspan="6" style="text-align: right;">
                    <button type="button" id="btnSearch" class="btn btn-default" onclick="FormTreeView();">Submit</button>
                    @*<asp:Button ID="btnSearch" runat="server" CssClass="btn btn-success" style="padding:2px;" OnClientClick="return Validate();" Text="Submit" OnClick="btnSearch_Click" />*@
                </td>

            </tr>
        </table>
        <table id="treeviewTable">
            @foreach (var item in @Model.FilePathDetail)
            {
                <tr class="@item.ClientName @item.ClientName@item.FolderName">
                    <td style="display:none;">@item.ClientName</td>
                    <td style="display:none;">@item.FolderName</td>
                    @if (item.FileName.Contains(".pptx") || item.FileName.Contains(".ppt"))
                    {

                        <td class="myClass" style="padding-left:30px;"><img src="~/img/pptx-icon.png" /><a class="https://docs.google.com/viewer?url=https://www.iasted.org/conferences/formatting/Presentations-Tips.ppt&embedded=true" title="@item.FileName" style="cursor:pointer;">@item.FileName</a></td>
                        //<td class="myClass" style="padding-left:30px;"><img src="~/img/pptx-icon.png" /><a target="_self" href="https://docs.google.com/viewer?url=http://40.71.227.230:85/GoogleDocuments/@item.ClientName/@item.FolderName/@item.FileName&embedded=true" title="@item.FileName" style="cursor:pointer;">@item.FileName</a></td>
                    }
                    @if (item.FileName.Contains(".pdf") || item.FileName.Contains(".PDF"))
                    {
                        <td class="myClass" style="padding-left:30px;"><img src="~/img/pdf-icon.png" /><a class="https://docs.google.com/viewer?url=https://www.iasted.org/conferences/formatting/Presentations-Tips.ppt&embedded=true" title="@item.FileName" style="cursor:pointer;">@item.FileName</a></td>
                        //<td class="myClass" style="padding-left:30px;"><img src="~/img/pdf-icon.png" /><a target="_self" href="https://docs.google.com/viewer?url=http://40.71.227.230:85/GoogleDocuments/@item.ClientName/@item.FolderName/@item.FileName&embedded=true" title="@item.FileName" style="cursor:pointer;">@item.FileName</a></td>
                    }
                    @if (item.FileName.Contains(".docx") || item.FileName.Contains(".doc"))
                    {
                        <td class="myClass" style="padding-left:30px;"><img src="~/img/docx-icon.png" /><a class="https://docs.google.com/viewer?url=https://www.iasted.org/conferences/formatting/Presentations-Tips.ppt&embedded=true" title="@item.FileName" style="cursor:pointer;">@item.FileName</a></td>
                        //<td class="myClass" style="padding-left:30px;"><img src="~/img/docx-icon.png" /><a target="_self" href="https://docs.google.com/viewer?url=http://40.71.227.230:85/GoogleDocuments/@item.ClientName/@item.FolderName/@item.FileName&embedded=true" title="@item.FileName" style="cursor:pointer;">@item.FileName</a></td>
                    }
                    @if (item.FileName.Contains(".txt"))
                    {
                        <td class="myClass" style="padding-left:30px;"><img src="~/img/txt-icon.png" /><a class="https://docs.google.com/viewer?url=https://www.iasted.org/conferences/formatting/Presentations-Tips.ppt&embedded=true" title="@item.FileName" style="cursor:pointer;">@item.FileName</a></td>
                        //<td class="myClass" style="padding-left:30px;"><img src="~/img/txt-icon.png" /><a target="_self" href="https://docs.google.com/viewer?url=http://40.71.227.230:85/GoogleDocuments/@item.ClientName/@item.FolderName/@item.FileName&embedded=true" title="@item.FileName" style="cursor:pointer;">@item.FileName</a></td>
                    }
                </tr>
            }
        </table>
    </div>
    <div id="myDiv" style="float:right; width:65%;">
        <iframe id="ContentRightFrame" name="ContentRightFrame" src="~/WaterMark.html" style="position: relative;top: -56px;height:350px;" width="100%" frameborder="1"></iframe>

    </div>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            ConstructTreeview();
            EventsDeclaration();
            var wnidowHeight = $(window).height();
            var divHeight = wnidowHeight - (parseInt("89"));
            var iframeHeight = wnidowHeight - (parseInt("33"));
            $('#divFile')[0].style.height = divHeight + 'px';
            $('#contentDiv')[0].style.height = divHeight + 'px';

            $('#ContentRightFrame')[0].style.height = iframeHeight + 'px';
            $('#myDiv')[0].style.height = divHeight + 'px';
        })
        //Webmethod to Get Treeview Dta
        function FormTreeView() {
            var clientId = $("#ddlClients option:selected").val();
            var folderId = $("#ddlFolders option:selected").val();
            var fileName = $("#txtFilename").val();
            var fromDate = $("#txtFromDate").val();
            var toDate = $("#txtToDate").val();
            if (document.getElementById("txtFromDate").value == "") {
                alert("From Date can not be blank");
                document.getElementById("txtFromDate").focus();
                return false;
            }

            if (document.getElementById("txtToDate").value == "") {
                alert("To Date can not be blank");
                document.getElementById("txtToDate").focus();
                return false;
            }
            $.ajax
            ({
                type: "POST",
                url: "/FileDetails/FormTreeview",
                data: '{ClientId: "' + clientId + '",FolderId: "' + folderId + '",FileName: "' + fileName + '",FromDate: "' + fromDate + '",ToDate: "' + toDate + '"}',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (r) {
                    var trHTML = '';
                    $.each(r.result, function (i, item) {
                        trHTML += '<tr class="' + item.ClientName + ' ' + item.ClientName + item.FolderName + '"><td style="display:none;">' + item.ClientName + '</td><td style="display:none;">' + item.FolderName + '</td>'
                        if (item.FileName.includes(".pptx") || item.FileName.includes(".ppt")) {
                            trHTML += '<td class="myClass" style="padding-left:30px;"><img src="/img/pptx-icon.png" /><a class="https://docs.google.com/viewer?url=http://40.71.227.230:85/GoogleDocuments/' + item.ClientName + '/' + item.FolderName + '/' + item.FileName + '&embedded=true" title="' + item.FileName + '" style="cursor:pointer;">' + item.FileName + '</td>'
                        }
                        if (item.FileName.includes(".pdf") || item.FileName.includes(".PDF")) {
                            trHTML += '<td class="myClass" style="padding-left:30px;"><img src="/img/pdf-icon.png" /><a class="https://docs.google.com/viewer?url=http://40.71.227.230:85/GoogleDocuments/' + item.ClientName + '/' + item.FolderName + '/' + item.FileName + '&embedded=true" title="' + item.FileName + '" style="cursor:pointer;">' + item.FileName + '</td>'
                        }
                        if (item.FileName.includes(".docx") || item.FileName.includes(".doc")) {
                            trHTML += '<td class="myClass" style="padding-left:30px;"><img src="/img/docx-icon.png" /><a class="https://docs.google.com/viewer?url=http://40.71.227.230:85/GoogleDocuments/' + item.ClientName + '/' + item.FolderName + '/' + item.FileName + '&embedded=true" title="' + item.FileName + '" style="cursor:pointer;">' + item.FileName + '</td>'
                        }
                        if (item.FileName.includes(".txt")) {
                            trHTML += '<td class="myClass" style="padding-left:30px;"><img src="/img/txt-icon.png" /><a class="https://docs.google.com/viewer?url=http://40.71.227.230:85/GoogleDocuments/' + item.ClientName + '/' + item.FolderName + '/' + item.FileName + '&embedded=true" title="' + item.FileName + '" style="cursor:pointer;">' + item.FileName + '</td>'
                        }
                        '</tr>';
                    });
                    $('#treeviewTable tbody').empty();
                    $('#treeviewTable tbody').append(trHTML);
                    ConstructTreeview();
                    EventsDeclaration();
                }
            });
        }

        //Bind Folder dropdown
        function FillFolders(clientId) {

            $.getJSON('@Url.Action("BindFolderDetails", "FileDetails")?ClientId=' + clientId, function (result) {
                FillFolderDrop("ddlFolders", result.result, "0")
            });
        }

        // Generic code for any dropdown to fill called by ajax
        function FillFolderDrop(selector, vData, id) {
            var vItems = [];
            if (vData.length > 0) {

                vItems.push('<option value="0">Please Select</option>');
                for (var i in vData) {
                    if (vData[i].Id == id)
                        vItems.push('<option selected=selected value="' + vData[i].ID + '">' + vData[i].FolderName + '</option>');
                    else
                        vItems.push('<option value="' + vData[i].ID + '">' + vData[i].FolderName + '</option>');
                }
                $('#' + selector).empty();
                $('#' + selector).append(vItems.join(''));
                return true;
            }
            else {
                $('#' + selector).empty();
                vItems.push('<option value="0">Please Select</option>');
                $('#' + selector).append(vItems.join(''));
                return false;
            }
        }

        jQuery.browser = {};
        (function () {
            jQuery.browser.msie = false;
            jQuery.browser.version = 0;
            if (navigator.userAgent.match(/MSIE ([0-9]+)\./)) {
                jQuery.browser.msie = true;
                jQuery.browser.version = RegExp.$1;
            }
        })();

        $("[id$=txtFromDate]").datepicker({

        });
        $("[id$=txtToDate]").datepicker({

        });
        function ConstructTreeview() {
            var table = $("#treeviewTable tbody");
            var prevClientName = "";
            var clientAndFolder = "";
            table.find('tr').each(function (i) {
                var $tds = $(this).find('td'),
                    clientName = $tds.eq(0).text(),
                    folderName = $tds.eq(1).text(),
                    fileName = $tds.eq(2).text();

                if (prevClientName != clientName) {
                    $("." + clientName + "").wrapAll("<tr><td colspan='3'>  <img id='clientMinus' src='/img/if_sq_minus_42355.png' />" + clientName + "</td></tr>");
                }
                if (clientAndFolder != clientName + folderName) {
                    $("." + clientName + folderName + "").wrapAll("<tr><td colspan='3' class='" + clientName + "' style='padding-left:20px;'>  <img id='folderMinus' class='minusSymbol' style='vertical-align: baseline;' src='/img/if_sq_minus_42355.png' /><img style='vertical-align: bottom;padding:5px;' src='/img/folder.png' />" + folderName + "</td></tr>");
                }
                prevClientName = clientName;
                clientAndFolder = clientName + folderName;
            });
        }

        //Bind Treeview Events
        function EventsDeclaration() {
            $("table tbody tr td #clientMinus").click(function () {
                if (this.id == "clientMinus") {
                    var className = this.nextSibling.data;
                    $("." + className).css("display", "none");
                    this.id = "clientPlus";
                    this.src = "/img/if_sq_plus_42357.png";
                }
                else {
                    var className = this.nextSibling.data;
                    $("." + className).css("display", "");
                    this.id = "clientMinus";
                    this.src = "/img/if_sq_minus_42355.png";
                    var foldersLength = this.parentElement.getElementsByClassName('minusSymbol').length;
                    for (var i = 0; i < foldersLength; i++) {
                        this.parentElement.getElementsByClassName('minusSymbol')[i].src = "/img/if_sq_minus_42355.png";
                        this.parentElement.getElementsByClassName('minusSymbol')[i].id = "folderMinus";
                    }
                }
            });
            $("table tbody tr td #folderMinus").click(function () {
                if (this.id == "folderMinus") {
                    var className = this.nextSibling.nextElementSibling.classList[1];
                    $("." + className).css("display", "none");
                    this.id = "folderPlus";
                    this.src = "/img/if_sq_plus_42357.png";
                }
                else {
                    var className = this.nextSibling.nextElementSibling.classList[1];
                    $("." + className).css("display", "");
                    this.id = "folderMinus";
                    this.src = "/img/if_sq_minus_42355.png";
                }
            });
            $("table tbody tr td tr td tr td a").click(function () {
                //$('#ContentRightFrame').attr('src', this.href);
                $("table tbody tr td tr td tr td a").css('color', '');
                this.style.color = "red";
                $("#lblFileName").text(this.innerText);
                document.getElementById("ContentRightFrame").src = this.className;
                return false;

            });

            $("#btnShow").click(function () {
                if ($('#divFile')[0].style.width == "35%") {
                    $('#divFile')[0].style.width = "2%";
                    $('#divFile')[0].style.height = "25px";
                    $('#divFile')[0].style.overflow = "hidden";
                    $('#btnShow')[0].src = "/img/Autoshow1.png";
                    $('#buttonParent')[0].style.cssFloat = "left";
                    //$('#divFile')[0].title = "Click here to expand File Details";
                    $('#divFile')[0].style.cursor = "pointer";
                    $('#myDiv')[0].style.width = "98%";
                    $('#lblFile').hide();
                }
                else {
                    $('#lblFile').show();
                    $('#btnShow')[0].src = "/img/Autohide.png";
                    $('#buttonParent')[0].style.cssFloat = "right";
                    $('#divFile')[0].style.width = "35%";
                    var wnidowHeight = $(window).height();
                    var divHeight = wnidowHeight - (parseInt("89"));
                    var iframeHeight = wnidowHeight - (parseInt("33"));
                    $('#divFile')[0].style.height = divHeight + 'px';
                    //$('#divFile')[0].style.height = "500px";
                    $('#divFile')[0].style.overflow = "auto";
                    $('#divFile')[0].style.cursor = "default";
                    $('#myDiv')[0].style.width = "65%";

                }
                return false;
            });
        }

        //Search from client side textbox
        function ClientSearch() {
            var input, filter, table, tr, td, i;
            input = document.getElementById("txtFilename");
            filter = input.value.toUpperCase();
            table = document.getElementsByClassName("myClass");
            for (var i = 0; i < table.length; i++) {
                tr = table[i].innerText;

                if (tr) {
                    if (tr.toUpperCase().indexOf(filter) > -1) {
                        table[i].style.display = "";
                    }
                    else {
                        table[i].style.display = "none";
                    }
                }
            }
        }

    </script>

}
