﻿@model GoogleDocPoc.ViewModel.UserDetailsViewModel
@{
    ViewBag.Title = "UserDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>UserDetails</h2>
<link href="https://code.jquery.com/ui/1.12.0-rc.2/themes/smoothness/jquery-ui.css" rel="stylesheet" />
<button type="button" style="margin-left: 10%;" id="btnUser" class=" btnAddUser btn btn-default">Add User</button>
<div id="divRegistrationError" class="col-sm-offset-4 text-danger">
    @Html.ValidationMessage("Error")
    @if(TempData["CURDOperationStatus"] !=null)
    {
        @TempData["CURDOperationStatus"].ToString();
    }
</div>
<div id="divUserDetails">
    <table style="width:80%;margin-left:10%;margin-top:10px;" class="table table-bordered">
        <thead>
            <tr>
                <th>UserName</th>
                <th>Email</th>
                <th>RoleName</th>
                <th>ClientName</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in @Model.userDetailsViewModel)
            {
                <tr>
                    <td>@item.Username</td>
                    <td>@item.Email</td>
                    <td>@item.RoleName</td>
                    <td>@item.ClientName</td>
                    <td>
                        <a data-value="@item.UserId"
                           href="javascript:void(0)" class="btnEdit">Edit</a>
                        <span>|</span>
                        @Html.ActionLink("Delete", "DeleteUser", "Registration", new { UserId = item.UserId }, new { onclick = "return confirm('Do you really want to delete the User : " + item.Username + "?')" })
                        @*<a href='@Url.Action("DeleteUser", "Registration", new { UserId = item.UserId , onclick = "return confirm('Are you sure you wish to delete this article?');" })' class="btnDelete">Delete</a>*@
                    </td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td colspan="5">
                    <ul class="pagination pull-right">
                        @for (int pagenum = 1; pagenum <= @Model.PagerCount; pagenum++)
                        {
                            <li class="paginate_button"><a href="@Url.Action("UserDetails", "Registration", new { pageNumber = @pagenum })" aria-controls="example" data-dt-idx="2" tabindex="0">@pagenum</a></li>
                        }
                    </ul>
                </td>
            </tr>
        </tfoot>
    </table>
</div>
<div id="AddUserdialog" title="Add view" style="overflow: hidden;"></div>
<div id="EditUserdialog" title="Edit view" style="overflow: hidden;"></div>
@section Scripts{
    <script src="https://code.jquery.com/ui/1.12.0-rc.2/jquery-ui.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script type="text/javascript">
        $(function () {
            var id = 0;

            $(document).on('click', '.btnEdit', function () {
                id = $(this).attr("data-value");
                $('#EditUserdialog').dialog('open');
            });

            $(document).on('click', '.btnAddUser', function () {
                $('#AddUserdialog').dialog('open');
            });

            $('#EditUserdialog').dialog({
                autoOpen: false,
                width: 400,
                resizable: false,
                title: 'Edit User',
                modal: true,
                position: { my: "center", at: "top", of: "#divUserDetails" },
                open: function (event, ui) {
                    // Load partial view _EditUserPartial
                    $(this).load("@Url.Action("GetUserDetailsById")", { UserId: id });
                },
                buttons: {
                    "Close": function () {
                        $(this).dialog("close");
                    }
                }
            });

            $('#AddUserdialog').dialog({
                autoOpen: false,
                width: 400,
                resizable: false,
                title: 'Add User',
                modal: true,
                position: { my: "center", at: "top", of: "#divUserDetails" },
                open: function (event, ui) {
                    // Load partial view _GridEditPartial
                    $(this).load("@Url.Action("AddUserDetails")");
                },
                buttons: {
                    "Close": function () {
                        $(this).dialog("close");
                    }
                }
            });
        });
        $("#hplRegistration").addClass("selected");
    </script>
    <script>
        window.setTimeout(function () {
            $("#divRegistrationError").fadeTo(500, 0).slideUp(500, function () {
                $(this).remove();
            });
        }, 5000);
    </script>
}

