﻿@model GoogleDocPoc.ViewModel.FolderViewModel
@{
    ViewBag.Title = "FolderDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style=" margin-top:35px;">FolderDetails</h2>

@using (Html.BeginForm(FormMethod.Post))
{
    @Html.Hidden("hdnClientId")
    @Html.Hidden("hdnClientName")
    @Html.Hidden("hdnFolderName")

    <button type="button" style="margin-left:10%;" id="btnOpen" class="btn btn-default" onclick="OpenPopup();">Add Folder</button>
    <table id="tblClients" class="table table-bordered table-hover" style="width:80%;margin-left:10%;margin-top:10px;">
        <thead>
            <tr>
                <th style="width:13%">Folder Id</th>
                <th style="width:30%">Folder Name</th>
                <th style="width:13%">Client Id</th>
                <th style="width:30%">Client Name</th>
                <th style="width:15%">Action</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var folder in @Model.Folders)
            {
                <tr>
                    <td class="Id">
                        <span>@folder.Id</span>
                    </td>
                    <td class="Name">
                        <span>@folder.FolderName</span>
                    </td>
                    <td class="ClientId">
                        <span>@folder.ClientId</span>
                    </td>
                    <td class="ClientId">
                        <span>@folder.ClientName</span>
                    </td>
                    <td>
                        <a class="Edit" href="javascript:;">Edit</a>
                        <span>|</span>
                        <a class="Delete" href="javascript:;">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td colspan="5">
                    <ul class="pagination pull-right">
                        @for (int pagenum = 1; pagenum <= @Model.PagerCount; pagenum++)
                        {
                            <li class="paginate_button"><a href="@Url.Action("FolderDetails", "Folder", new { pageNumber = @pagenum })" aria-controls="example" data-dt-idx="2" tabindex="0">@pagenum</a></li>
                        }
                    </ul>
                </td>
            </tr>
        </tfoot>
    </table>

    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Add Folder</h4>
                </div>
                <div class="modal-body">
                    <table>
                        <tr id="trClientId" style="display:none;">
                            <td>
                                Folder Id :
                            </td>
                            <td>
                                <input type="text" id="txtFolderId" readonly="readonly" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Client Name :
                            </td>
                            <td>
                                <select id="ddlClient" class="form-control"></select>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Folder Name :
                            </td>
                            <td>
                                <input type="text" id="txtFolderName" class="form-control"/>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" id="btnAdd" class="btn btn-default" onclick="AddFolder();">Add</button>
                    <button type="button" id="btnUpdate" style="display:none;" class="btn btn-default" onclick="UpdateFolder();">Update</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

}

@section Scripts{

<script type="text/javascript">

    $(document).ready(function () {

    });

    //Bind client dropdown
    function BindClient(id)
    {
        $.getJSON('@Url.Action("BindClientDetails", "Folder")', function (result) {
            FillDropdown("ddlClient", result.result,id)
        });
    }

    // Generic code for any dropdown to fill called by ajax  
    function FillDropdown(selector, vData,id) {
        if (vData.length > 0) {
            var vItems = [];
            vItems.push('<option value="0">Please Select</option>');
            for (var i in vData) {
                if (vData[i].Id==id)
                    vItems.push('<option selected=selected value="' + vData[i].Id + '">' + vData[i].Name + '</option>');
                else
                    vItems.push('<option value="' + vData[i].Id + '">' + vData[i].Name + '</option>');
            }
            $('#' + selector).empty();
            $('#' + selector).append(vItems.join(''));
            return true;
        }
        else {
            $('#' + selector).empty();
            return false;
        }
    }

    //Webmethod to add Client
    function AddFolder()
    {
        var clientName = $("#ddlClient option:selected").text();
        var clientId = $("#ddlClient option:selected").val();

        if (clientId == "0") {
            alert("Please Select Client Name.");
            return false;
        }
        if ($("#txtFolderName").val() == "") {
            alert("Please enter Folder Name.");
            return false;
        }
        $.ajax
        ({
            type: "POST",
            url: "/Folder/AddFolder",
            data: '{ClientId: "' + clientId + '",ClientName: "' + clientName + '",FolderName: "' + $("#txtFolderName").val().toUpperCase() + '"}',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (r)
            {
                if (r.Id == 1)
                {
                    alert("Record Inserted Successfully.");
                    $("#myModal").modal('hide');
                    window.location.href = '/Folder/FolderDetails';
                    $("#txtFolderName").val();
                    $("#ddlClient").empty();

                }
                else if (r.Id == 2)
                {
                    alert("Duplicate Record is there with this ClientName " + clientName + " AND FolderName " + $("#txtFolderName").val().toUpperCase() + ". ");
                }
                else
                {
                    alert("Record Not Inserted Successfully.");
                }
            }
        });
    }

    //Webmethod to Update Client
    function UpdateFolder()
    {
        var clientName = $("#ddlClient option:selected").text();
        var clientId = $("#ddlClient option:selected").val();
        var folderId = $("#txtFolderId").val();
        var folderName = $("#txtFolderName").val();
        if (clientId == "0") {
            alert("Please Select Client Name.");
            return false;
        }
        if (folderName == "") {
            alert("Please enter Folder Name.");
            return false;
        }
        if ($("#hdnClientId").val() == $("#ddlClient").val() && $("#hdnFolderName").val() == $("#txtFolderName").val().toUpperCase())
        {
            alert("Record Updated Successfully.");
            $("#myModal").modal('hide');
            $("#txtFolderId").val("");
            $("#txtFolderName").val("");
            $("#ddlClient").empty();
            return false;
        }
        else
        {
            $.ajax
            ({
                type: "POST",
                url: "/Folder/UpdateFolder",
                data: '{Id: "' + folderId + '",HdnClientName: "' + $("#hdnClientName").val() + '",HdnFolderName: "' + $("#hdnFolderName").val() + '",ClientId: "' + clientId + '",ClientName: "' + clientName + '",FolderName: "' + $("#txtFolderName").val().toUpperCase() + '"}',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (r)
                {
                    if (r.Id == 1)
                    {
                        alert("Recoed Updated Successfully.");
                        $("#myModal").modal('hide');
                        $("#txtFolderId").val("");
                        $("#txtFolderName").val("");
                        $("#ddlClient").empty();
                        window.location.href = '/Folder/FolderDetails';
                    }
                    else if (r.Id == 2)
                    {
                        alert("Duplicate Record is there with this ClientName " + clientName + " AND FolderName " + $("#txtFolderName").val().toUpperCase() + ". ");
                    }
                    else
                    {
                        alert("Record Not Updated Successfully.");
                    }
                }
            });
        }
    }

    //method to open popup to Add client details
    function OpenPopup()
    {
        var titleChange = $(".modal-title");
        titleChange[0].innerText = "Add Folder";
        $("#btnAdd").css("display", "");
        $("#btnUpdate").css("display", "None");
        BindClient(0);
        $("#txtFolderName").val("");
        $("#myModal").modal('show');
    }

    //method to open popup to edit client details
    $("body").on("click", "#tblClients .Edit", function ()
    {
        var titleChange = $(".modal-title");
        titleChange[0].innerText = "Update Folder";
        $("#btnAdd").css("display", "None");
        $("#btnUpdate").css("display", "");
        var row = $(this).closest("tr");
        var folderId = row[0].cells[0].innerText;
        var folderName = row[0].cells[1].innerText;
        var clientId = row[0].cells[2].innerText;
        var clientName = row[0].cells[3].innerText;
        $("#hdnClientId").val(clientId);
        $("#hdnClientName").val(clientName);
        $("#hdnFolderName").val(folderName);
        $("#txtFolderId").val(folderId);
        $("#txtFolderName").val(folderName);
        BindClient(clientId);
        $("#myModal").modal('show');
    });

    //Delete event handler.
    $("body").on("click", "#tblClients .Delete", function ()
    {
        if (confirm("Do you want to delete this row?"))
        {
            var row = $(this).closest("tr");
            var folderId = row.find("span")[0].innerText;
            var folderName = row.find("span")[1].innerText;
            var clientId = row.find("span")[2].innerText;
            var clientName = row.find("span")[3].innerText;
            $.ajax
            ({
                type: "POST",
                url: "/Folder/DeleteFolder",
                data: '{Id: "' + folderId + '",ClientId: "' + clientId + '",ClientName: "' + clientName + '",FolderName: "' + folderName + '"}',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response)
                {
                    if (response.Id == 1)
                    {
                        row.remove();
                        alert("Record Deleted Successfully.");
                    }
                    else
                    {
                        alert("Record Not Deleted Successfully.");
                    }

                }
            });
        }
    });
    $("#hplFolder").addClass("selected");
</script>
    }
